h1 {
    display: inline;
}

p {
    color: #FFF;
}

div .header-box {
    border-radius: 11.769px;
    border: 1px solid #A5A5CC;
    /* background: rgba(30, 28, 34, 0.40); */
    background: #1E1C22;
    opacity: 40%;
    /* padding: 24px; */
    padding: 1.389vw;
    /* width: 66%; */
    width: 90%;
    /* width: 1145px; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    margin-top: 276px;
}

.performer-box {
    border-radius: 11.769px;
    border: 1px solid #A5A5CC;
    /* background: rgba(30, 28, 34, 0.40); */
    background: #1E1C22;
    opacity: 40%;
    /* padding: 24px; */
    padding: 1.389vw;
    /* width: 66%; */
    width: 90%;
    /* width: 1145px; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    margin-top: 100px;
}

.heading-text {
    color: #FFF;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 128.5%;
    letter-spacing: 0.8px;
    /* margin: 20px; */
    margin: 1.16vw;
    vertical-align: middle;
}

.speaker-container {

}

.speaker-box {
    border-radius: 11.769px;
    border: 0.654px solid #A5A5CC;
    /* background: rgba(30, 28, 34, 0.40); */
    background: #1E1C22;
    opacity: 50%;
    /* padding: 24px; */
    width: 90%;
    height: 15.74vw;
    /* width: 1145px; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}

.speaker-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.speaker-img {
    object-fit: cover;
    /* margin-right: 20px; */
    margin-right: 1.9vw;
    border-radius: 11.769px 0 0 11.769px;
    border: 0.654px solid #A5A5CC;
    /* width: 100%;
    height: 100%; */
    /* width: 272px; */
    /* height: 272px; */
    width: 15.74vw;
    height: 15.74vw;
}

.speaker-profile {
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    vertical-align: middle;
}

.speaker-name {
    color: #FBFBFB;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 136.9%; /* 21.904px */
    letter-spacing: 0.32px;
    /* vertical-align: middle; */
    /* margin-top: 39px; */
}

.speaker-descr {
    color: #FBFBFB;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 136.9%; /* 27.38px */
    letter-spacing: 0.4px; 
    /* vertical-align: middle; */
    /* margin-bottom: 39px; */
}
